syntax on           " Syntax highlighting
set re=0

colorscheme molokai " Set Color Theme


set tabstop=4       " The width of a TAB is set to 4.
                    " Still it is a \t. It is just that
                    " Vim will interpret it to be having
                    " a width of 4.

set shiftwidth=4    " Indents will have a width of 4

set softtabstop=4   " Sets the number of columns for a TAB

set autoindent      " Start next line considering previus
                    " lines' tab space

set expandtab       " Expand TABs to spaces

set scrolloff=10

set linespace=5

set number          " Show numbers

hi LineNr  guifg=#505050   guibg=#282c34
hi Normal  guifg=White     guibg=#282c34

" set guifont=Monaco:h20
set guifont=FiraCode\ 16

set runtimepath^=~/.vim/bundle/ctrlp.vim

:helptags ~/.vim/bundle/ctrlp.vim/doc

let mapleader = "\ "

" Emmet Configuration
let g:user_emmet_leader_key=','

if has("gui_macvim")
	let g:ctrlp_map = '<D-p>'
	let g:ctrlp_cmd = 'CtrlP'
endif

" CtrlP
let g:ctrlp_max_files=0
let g:ctrlp_max_depth=40
let g:ctrlp_working_path_mode=""
let g:ctrlp_custom_ignore='node_modules\|DS_Store\|git\|dccache\|dist'

set splitbelow
set splitright

" Keys
nnoremap <leader>p :CtrlP<CR>

nnoremap <leader>. :bn<CR>
nnoremap <leader>, :bp<CR>

nnoremap <leader>h :wincmd s<CR>
nnoremap <leader>v :wincmd v<CR>

nnoremap <leader><Right> :wincmd l<CR>
nnoremap <leader><Down> :wincmd j<CR>
nnoremap <leader><Left> :wincmd h<CR>
nnoremap <leader><Up> :wincmd k<CR>

command! W w
command! Q q

